:root {
    --dark-gray: #333D50;
    --white: #F4F3EA;
    --gray: #CBD0D8;
    --gold: #D3AC2B;
    --red: #D32B52;
    --green: #2BD3AC;
    --black: #011627; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 0;
    line-height: 1;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: "Madimi One", "Barlow", sans-serif;
}

h1 {
    margin: 0;
    font-family: "Madimi One";
    font-weight: 300;
    font-size: 30px;
}

h2 {
    margin: 0;
    font-family: "Madimi One";
    font-weight: 300;
    font-size: 22px;
}

h3 {
    margin: 0;
    font-family: "Barlow";
    font-weight: 300;
    font-size: 20px;
}

@keyframes appear {
    0% { opacity: 0 }
    100% { opacity: 100 }
}

@keyframes appear-and-disappear {
    0% { opacity: 0 }
    30% { opacity: 100 }
    70% { opacity: 100 }
    100% { opacity: 0 }
}

@keyframes shake {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}

@keyframes fill {
    0% { width: 0% }
    25% { width: 50% }
    50% { width: 75% }
    75% { width: 85% }
    100% { width: 100% }
}

.container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: var(--black);
    transition-duration: 0.8s;
}

.header {
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-name: appear;
    animation-fill-mode: forwards;
    animation-duration: 0.8s;
    animation-timing-function: ease;
}

.grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.character {
    width: 50px;
    height: 50px;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: var(--white);
    text-transform: uppercase;
    border-radius: 3px;
    transition-duration: 0.8s;
    animation-name: appear;
    animation-fill-mode: forwards;
    animation-duration: 0.8s;
    animation-timing-function: ease;
}

.keyboard {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.key-list {
    display: flex;
    gap: 6px;
}

.key {
    position: relative;
    padding: 3px;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    color: var(--white);
    background-color: var(--dark-gray);
    animation-name: appear;
    animation-fill-mode: forwards;
    animation-duration: 0.8s;
    animation-timing-function: ease;
}

.modal {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px;
    color: var(--white);
    font-size: 22px;
    font-weight: 300;
    border-radius: 3px;
    background-color: var(--dark-gray);
}

.modal-content > button {
    color: var(--white);
    font-size: 22px;
    font-weight: 300;
    text-decoration: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.modal-message {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 6px;
    display: flex;
    color: var(--white);
    border-radius: 3px;
    background-color: var(--red);
    animation-name: appear-and-disappear;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
    animation-timing-function: ease;
}

.setting-icon {
    position: absolute;
    top: 30px;
    right: 30px;
    color: var(--white);
    font-size: 30px;
    z-index: 1;
    cursor: pointer;
    transition-duration: 0.8s;
}

.loading-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    transition-duration: 0.8s;
}

.loading-progress {
    position: relative;
    height: 24px;
    width: 50%;
    display: flex;
    align-items: center;
    border: 6px solid var(--white);
    border-radius: 15px;
    transition-duration: 0.8s;
}

.loading-progress > .loading-bar {
    position: absolute;
    background-color: var(--white);
    width: 0px;
    height: 12px;
    border-radius: 15px;
    animation-name: fill;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    transition-duration: 0.8s;
}

@media only screen and (max-height: 800px) {
    .container {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media only screen and (min-width: 600px) {
    h1 {
        font-size: 72px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 22px;
    }
    .container {
        padding: 30px;
    }
    .header {
        width: 50%;
    }
    .grid {
        width: 50%;
    }
    .character {
        width: 60px;
        height: 60px;
    }
    .keyboard {
        width: 50%;
    }
    .key {
        padding: 6px;
    }
    .modal-content {
        padding: 30px 60px 30px 60px;
    }
}

@media only screen and (min-width: 1300px)  {
    .setting-icon {
        top: 100px;
        right: 100px;
    }
    .container {
        padding: 100px;
    }
    .character {
        width: 75px;
        height: 75px;
    }
}
